<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI VOTO EDUCATIVO</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../../../../../../public/CSS/bootstrap.min.css">
    <link rel="icon" href="img/logo.ico">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Catalogo de candidatos</h1>
        <h3>MI VOTO EDUCATIVO</h3>
    </header>
    <!-- Barra de navegación -->
    <nav>
        <a href="img/gato_galleta.jpeg">🍪</a>
        <a href="../home.html">Inicio</a>
        <form action="#" method="GET" class="search-form">
            <input type="text" name="search" placeholder="Codigo de voto...">
            <button type="submit">iniciar</button>
        </form>
    </nav>
    <!-- Catalogo de candidatos -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-3">
                    <img src="img/hombre2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Martín García</h5>
                        <p class="card-text">Información sobre el candidato 1.</p>
                        <a href="../../static/Errores/error500.html" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-3">
                    <img src="img/hombre 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alejandro Pérez</h5>
                        <p class="card-text">Información sobre el candidato 2.</p>
                        <a href="../../static/Errores/error500.html" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-3">
                    <img src="img/mujer1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Valentina Rodríguez</h5>
                        <p class="card-text">Información sobre el candidato 3.</p>
                        <a href="../../static/Errores/error500.html" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-3">
                    <img src="img/mujer2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sofía López</h5>
                        <p class="card-text">Información sobre el candidato 4.</p>
                        <a href="../../static/Errores/error500.html" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie de página -->
    <footer class="bg-secondary py-4">
        <div class="container">
            <div class="row align-items-center">
                <!-- Nombres -->
                <div class="col-md-4">
                    <h4 class="text-light">Diego Huerfano</h4>
                    <h4 class="text-light"></h4>
                    <h4 class="text-light">Andrés Castro</h4>
                </div>
                <!-- Iconos de redes sociales -->
                <div class="col-md-8 d-flex justify-content-md-center">
                    <img src="img/sena.png" alt="sena" title="sena" class="social-icon mx-2">
                    <img src="img/instagram.png" alt="instagram" title="Instagram" class="social-icon mx-2">
                    <img src="img/whatsapp.png" alt="whatsapp" title="WhatsApp" class="social-icon mx-2">
                    <img src="img/twitter.png" alt="twitter" title="Twitter" class="social-icon mx-2">
                </div>
            </div>
        </div>
    </footer>
    
    <script src="JS/bootstrap.bundle.min.js"></script>
</body>
</html>
